<div class="toolbar">
  <button class="toolbar-button" (click)="shiftMonth(-1)" aria-label="Previous month">
    <i class="material-icons-outlined" aria-hidden="true">chevron_left</i>
  </button>
  <h1>{{ currentMonth | date: 'MMM yyyy' }}</h1>
  <button class="toolbar-button" (click)="shiftMonth(1)" aria-label="Next month">
    <i class="material-icons-outlined" aria-hidden="true">chevron_right</i>
  </button>
</div>
<div class="day-container">
  <div class="header" *ngFor="let header of headers">{{ header }}</div>
  <button
    class="day"
    *ngFor="let day of daysOfCurrentMonth"
    [ngClass]="{ selected: isSelectedDay(day), faded: !isSelectedMonth(day) }"
    (click)="selectDate(day)"
  >
    {{ day | date: 'dd' }}
  </button>
</div>
